.flex 
{
   border:5px solid #baba02;
   display:flex;
   flex-direction: row;
   width:500px;
   height:500px;

   

}
.divs {
    font-size:x-large;
    color:white;
    text-align:center;
    width : 100px;

}